<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery. min.js"></script>
        <script src="js/functions.js"></script>
        <meta charset="utf-8">
        <title> Image Search App </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
        <link href="css/styles.css" rel="stylesheet" type="text/css">
        <style>
            body {
                background-image: url("https://images.unsplash.com/flagged/photo-1556047124-cd8579bd09b3?ixlib=rb-1.2.1&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1080&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjEwMzUxOH0")
                background-repeat: no-repeat;
                background-size: cover;
                text-align: center;
            }
        </style>
    </head>
    